* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1 {
  font-size: 80px;
  font-family: inter;
  font-weight: bold;
  text-align: center;
  color: #ff6363;
}

.container1 {
  background-color: #faf5e4;
  padding: 40px;
}
.container2 {
  background-color: #faf5e4;
  padding: 0px 40px 40px 40px;
}
.slide-container {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slide-container::-webkit-scrollbar {
  display: none;
}

.prodotto {
  position: relative;
  text-align: center;
}

.prodotto img {
  margin: 5px;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 4px 4px 5px lightgrey;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .prodotto img {
    margin: 3px;
    height: 300px;
    width: auto;
    border-radius: 12px;
    box-shadow: 4px 4px 5px lightgrey;
  }

  .slideBack,
  .slide {
    display: none;
  }

  .title-slide {
    font-size: 25px;
  }
}
.button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
.buttonMusic {
  background-color: #ff6363;
  border: none;
  margin: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 4px 4px 5px lightgrey;
}
.buttonMusic:hover {
  background-color: #9fb4ff;
  box-shadow: 5px 5px 10px lightgrey;
}
.buttonMusic {
  text-align: center;
  border-radius: 12px;
  font-family: inter;
  font-weight: 900;
}
